<nav class="navbnar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">lifttracker</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/exercises">Exercises</a></li>
        <li routerLinkActive="active"><a routerLink="/routines">Routines</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>

        <!-- what does ngIf in square brackets mean -->
        <!--<ng-template [ngIf]="authService.isAuthenticated()">-->
        <ng-template [ngIf]="authService.isAuthenticated()">
        <li><a (click)="onLogout()">Logout</a></li>
          <li>{{ username }}</li>
        </ng-template>

      </ul>
    </div>

  </div>

</nav>
