<div class="vspace3em"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="margin-20">
      <h4>Routine</h4>
    </div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="saveForm(myForm)">
      <div class="form-group">
        <label>Notes</label>
        <input type="text" class="form-control" formControlName="notes">
      </div>

      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" formControlName="date">
      </div>

      <!--addresses-->
      <div formArrayName="exercises">
        <div *ngFor="let exercise of myForm.controls.exercises.controls; let i=index" class="panel panel-default">
          <div class="panel-heading">
            <span>{{myForm.value.exercises[i].exerciseName}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.exercises.controls.length > 1"
                  (click)="removeExercise(i)"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <app-single-exercise-form  [exerciseForm]="myForm.controls.exercises.controls[i]"></app-single-exercise-form>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <select [ngModelOptions]="{standalone: true}" [ngModel]="selectedValue"
                  (ngModelChange)="onDropdownChange($event)" class="form-control">
            <option *ngFor="let category of options" [ngValue]=category>{{category.name}}</option>
          </select>
          <a (click)="addExercise()" style="cursor: default">
            Add another exercise +
          </a>

        </div>
      </div>


      <div class="margin-20">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
      </div>
      <div class="clearfix"></div>

      <div class="margin-20">
        <div>myForm details:-</div>
        <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
        <pre>form value: <br>{{myForm.value | json}}</pre>
      </div>
    </form>
  </div>
</div>
