<div [formGroup]="exerciseForm">

  <div formArrayName="weightAndReps">
    <div *ngFor="let exercise of exerciseForm.controls.weightAndReps.controls; let i=index">

        <app-set-rep-form [weightAndRepsForm]="exerciseForm.controls.weightAndReps.controls[i]"></app-set-rep-form>
          <span *ngIf="exerciseForm.controls.weightAndReps.controls.length > 1" (click)="removeSet(i)"></span>

    </div>
  </div>


  <button type="button" class="btn btn-primary" (click)="addSet()">Add set +</button>


  <hr/>


  <!--<div class="margin-20">-->
  <!--<div>exerciseForm details:-</div>-->
  <!--<pre>Is exerciseForm valid?: <br>{{exerciseForm.valid | json}}</pre>-->
  <!--<pre>exerciseForm value: <br>{{exerciseForm.value | json}}</pre>-->
  <!--</div>-->
</div>
